<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c4c875">  <td>22/05/16 12:21:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Analytics.Testcase_pageload_Analytics_FB()[pri:1, instance:modules.Analytics@754ba872]">Testcase_pageload_Analytics_FB</td> 
  <td>main@1318822808</td>   <td></td> </tr>
<tr bgcolor="c4c875">  <td>22/05/16 12:22:46</td>   <td>89913</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Analytics.Testcase_pageload_Analytics_IG()[pri:2, instance:modules.Analytics@754ba872]">Testcase_pageload_Analytics_IG</td> 
  <td>main@1318822808</td>   <td></td> </tr>
<tr bgcolor="c4c875">  <td>22/05/16 12:25:20</td>   <td>244482</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Analytics.Testcase_pageload_Analytics_TW()[pri:3, instance:modules.Analytics@754ba872]">Testcase_pageload_Analytics_TW</td> 
  <td>main@1318822808</td>   <td></td> </tr>
<tr bgcolor="c4c875">  <td>22/05/16 12:27:05</td>   <td>349362</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Analytics.Testcase_pageload_Analytics_YT()[pri:4, instance:modules.Analytics@754ba872]">Testcase_pageload_Analytics_YT</td> 
  <td>main@1318822808</td>   <td></td> </tr>
</table>
