<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>modules.Infl_tracking</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Testcase_pageload_INfl_tracking_IG</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Testcase_pageload_INfl_tracking_YT</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Testcase_pageload_INfl_tracking_TW</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>modules.Analytics</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Testcase_pageload_Analytics_TW</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Testcase_pageload_Analytics_IG</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Testcase_pageload_Analytics_YT</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Testcase_pageload_Analytics_FB</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
